@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://images7.alphacoders.com/126/1269810.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="text-center">
    <h1 class="display-4">PetLife</h1>
    <p>Um lugar com o conforto que seu pet merece</p>
</div>
